@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
   font-family: 'Open Sans',serif;
   padding-top: 70px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}

a{
    color: #0b0b0b;
    /*outline: none;*/
    text-decoration: none;
    display: inline;
}
a:hover{ 
    color: crimson;
}

h1 {
  color: black;
}


h1 {
  color: black;
}

 /*For the little link icons */
.icon{ 
    font-size: 2.5rem;
}
.icon:hover{ 
    color: #A31F34;
}

