@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
   font-family: 'Open Sans',serif;
   padding-top: 70px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}

a{
    color: #b3b3b3;;
    /*outline: none;*/
    text-decoration: none;
    display: inline;
}
a:hover{ 
    color: crimson;
}

h1 {
  color: black;
}


h1 {
  color: black;
}

 /*For the little link icons */
.icon{ 
    font-size: 2.5rem;
   color: black;
}
.icon:hover{ 
    color: crimson;
}



.image-cropper {
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;

.circular--landscape {
  margin: 0 auto;
  width: auto;
  height: 100%;
}
